/*  RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET ENDS HERE */

*, 
*:before,
*:after  {
    box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: 'Cinzel Decorative', cursive;
}

/* HEADER */

header {
    width: 100%;
    height: 80px;
    background-color: #000;
    color: #61dbfb;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1 {
	min-width: 375px;
	text-align: center;
	font-size: 2.5em;
	font-weight: 900;
}

/* GAME BOARD */

table {
	margin: 80px auto;
}

td {
	width:120px;
	height: 120px; 
	cursor: pointer;
	font-size: 80px;
	font-weight: 900;
	text-align: center;
	padding-top: 25px;
}

td:hover {
	background-color: aquamarine;
}

#cell-0, #cell-3,
#cell-6, #cell-1,
#cell-4, #cell-7 {
	border-right: 2px solid #000;
}

#cell-3, #cell-4,
#cell-5, #cell-6,
#cell-7, #cell-8 {
	border-top: 2px solid #000;
}

@media (min-width: 768px) {
	td {
		width: 200px;
		height: 200px;
		font-size: 160px;
	}
}

/* SCOREBOARD */
#scoreboard {
	border: 2px solid black;
	display: flex;
	width: 50%;
	margin: 0 auto;
	justify-content: space-evenly;
}

.player {
	margin: 20px;
	font-size: 24px;
}